<?xml version="1.0" encoding="UTF-8"?>
<!-- This configuration supports eager loggers loaded before `LogConfiguration` kicks in -->
<!-- Refrain from expanding this config and consider extending `LogConfiguration` instead -->
<Configuration
        strict="true"
        xmlns="http://logging.apache.org/log4j/2.0/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
            http://logging.apache.org/log4j/2.0/config
            https://raw.githubusercontent.com/apache/logging-log4j2/log4j-2.17.2/log4j-core/src/main/resources/Log4j-config.xsd
        "
>
    <Appenders>
        <Appender name="TemporaryConsole" type="Console">
            <Layout type="PatternLayout" pattern="%d{ABSOLUTE} %-5level %msg%n"/>
            <Filters>
                <Filter type="ThresholdFilter" level="warn"/>
            </Filters>
        </Appender>
    </Appenders>
    <Loggers>
        <Root>
            <AppenderRef ref="TemporaryConsole"/>
        </Root>
    </Loggers>
</Configuration>
